*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root{
    --color-primary:#3563E9;
    --color--secondary:#54A6FF;
    --color-black:#1a202c;
    --color-gray:#90A3bf;
    --bground-color:#f6f7f9;

}

html{
    font-size: 62.5%;
}

body{
    background-color: var(--bground-color);
}

/* button */

.btn{
    border: none;
    outline: 0;
    cursor: pointer;
    padding: 1.4rem 2.5rem;
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 2rem;
}

.btn--primary{
    background-color: var(--color-primary);
    color: white;
}
.btn--secondary{
    background-color: #54A6FF;
    color: white;
}

@media screen and (min-width:1024px){
    
    .btn{
        font-size: 1.2rem;
    }
}


/* navbar */

header{
    background-color: #ffffff;
    height:125px;
    padding: 0 5.5rem;
    width: 100%;
   z-index: 10000;
  
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-detail{
    display: flex;
    gap: 5rem;
    margin-top: 3rem;
}
.navbar-detail input{
    width: 50rem;
    border: none;
    border: 1px solid #e7e9ec;
    border-radius: 32px;
    padding: 1.2rem ;
}

.list{
    display: flex;
    gap: 2.5rem;
}
.list li {
    border: 1px solid #e7e9ec;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    margin-top: 3rem;
}

.list li a i{
    font-size: 2.5rem;
    text-align: center;
    color: #616060;
    margin-top: 0.8rem;
}

.circle{
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    right: 130px;
    top: 28px;
}

.navbar-detail input{
    background: url(/assets/images/search-normal.png)no-repeat;
  background-position: left;
  background-position-x:3%;

}

@media screen and (max-width:768px){
    
    .nav__item{
        display: none;
    }

    .navbar-detail input{
        width: 20rem;
    }
}
@media screen and (max-width:1024px){
    

    .navbar-detail input{
        width: 20rem;
    }
}
@media screen and (max-width:425px){
    
    .nav__item{
        display: none;
    }

    .navbar-detail input{
       
        display: none;}
   
}


.search-mobile{
    display: none;
}

@media screen and (max-width:645px){
    .search-mobile input{
        width: 100%;
        border: none;
        border: 1px solid #e7e9ec;
        border-radius: 8px;
        padding: 1rem ;
        background: url(/assets/images/search-normal.png)no-repeat;
        background-position: left;
        background-position-x:3%;
    }
    
    .search-mobile{
     margin-top: 0.4rem;
    display: flex;
    align-items: center;
    justify-content:space-between ;
    }
    
    .filter{
        width: 50px;
        height: 40px;
        border: none;
        background-color: #ffffff;
        border: 1px solid #e7e9ec;
        border-radius: 8px;
      margin-left: 2rem;
    }
    
    .filter .bx{
      font-size: 1.8rem;
    }
    .navbar-detail input{
        display: none;
    }

    .navbar{
        margin-bottom: 0.2rem;
    }
}


/* home */
.slider{
margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    height: 360px;
    width: 640px;
    background-image: url(./jerry-zhang-ePpaQC2c1xA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 7s;

    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    animation-duration: 10s;
    animation-fill-mode:forwards;
    animation-iteration-count: infinite;
}
@keyframes animate {
    0%{
        background-image: url(/assets/images/Ads\ 1.png);
    }
    25%{
        background-image: url(/assets/images/Ads\ 2.png);
    }
    50%{
        background-image: url(/assets/images/Ads\ 1.png);
    }
    75%{
        background-image: url(/assets/images/Ads\ 2.png);
    }
    100%{
        background-image: url(/assets/images/Ads\ 1.png);
    }
}


@media screen and (max-width:768px){
  
  .content{
    width: 320px;
    height:180px ;
  }
}

@media screen and (max-width:320px){
  
    .content{
      width:260px;
      height:250px ;
    }
  }

  /* car-Rent */

  .cart{
    width: 582px;
    height:136px ;
    border-radius: 10px;
    background-color: #ffffff;
  }

  .btn-add{
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    background-color: var(--color-primary);
  }
.rent{
    padding: 50px 3%;
}
  .main{
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btn-add .bx{
    font-size: 1.9rem;
  }

  .cart{
    padding:1.5rem 5rem;
    display: flex;
    flex-direction: column;
  
  }

  .cart-detail{
    display: flex;
    justify-content: space-between;
    margin-top: 3.5rem;
   
  }


  .check span {
   
    width: 7px;
        font-weight: 600;
     font-size: 12px;
    text-align: center;
    }
    
   
  
    .cart-items{
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
    }